# VacationPy#

In [145]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

input_file = os.path.join('Output Data', 'cities.csv')

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [146]:
weather_df = pd.read_csv(input_file)
weather_df.head()

,City ID,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
0,0,inta,100,RU,1615600548,90,66.0317,60.1659,12.33,25.01
1,1,magistralnyy,100,RU,1615600553,88,56.1725,107.4458,30.67,3.85
2,2,pati,97,ID,1615600555,77,-6.7559,111.0380,83.64,1.10
3,3,borovskoy,57,KZ,1615600557,92,53.8000,64.1500,-1.70,8.97
4,4,narsaq,64,GL,1615600559,45,60.9167,-46.0500,15.80,9.22

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [147]:
gmaps.configure(api_key=g_key)

In [148]:
locations = weather_df[["Latitude", "Longitude"]].astype(float)
humidity = weather_df["Humidity"]

intensity = max(humidity)

In [149]:
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(locations,weights = humidity,dissipating=False,max_intensity=intensity, 
                                 point_radius = 5)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [152]:
weather_new_df = weather_df.loc[(weather_df['Max Temperature'] < 80) &
                               (weather_df['Max Temperature'] > 70) &
                               (weather_df['Wind Speed'] < 7) &
                               (weather_df['Cloudiness'] == 0)]

weather_new_df = weather_new_df.dropna()
vacation_df = weather_new_df.reset_index(drop = True)
vacation_df

,City ID,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
0,23,iquitos,0,PE,1615600400,94,-3.7481,-73.2472,75.20,1.50
1,51,atuona,0,PF,1615600549,58,-9.8000,-139.0333,79.79,0.98
2,55,adamantina,0,BR,1615600685,53,-21.6853,-51.0725,78.80,3.67
3,129,cidreira,0,BR,1615600571,77,-30.1811,-50.2056,71.20,5.32
4,216,maragogi,0,BR,1615600663,81,-9.0122,-35.2225,77.95,6.87
5,302,caravelas,0,BR,1615600898,80,-17.7125,-39.2481,73.11,5.30
6,357,mogok,0,MM,1615601421,21,22.9167,96.5000,78.51,2.19
7,459,mecca,0,SA,1615601667,44,21.4267,39.8261,74.32,4.34
8,482,el alto,0,PE,1615601725,65,-4.2714,-81.2147,78.80,5.75

In [153]:
hotel_df = vacation_df.loc[:,("City","Country","Latitude","Longitude")]
hotel_df

         City Country  Latitude  Longitude
0     iquitos      PE   -3.7481   -73.2472
1      atuona      PF   -9.8000  -139.0333
2  adamantina      BR  -21.6853   -51.0725
3    cidreira      BR  -30.1811   -50.2056
4    maragogi      BR   -9.0122   -35.2225
5   caravelas      BR  -17.7125   -39.2481
6       mogok      MM   22.9167    96.5000
7       mecca      SA   21.4267    39.8261
8     el alto      PE   -4.2714   -81.2147

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [154]:
hotel_df["Hotel Name"] = ''
hotel_df

         City Country  Latitude  Longitude Hotel Name
0     iquitos      PE   -3.7481   -73.2472
1      atuona      PF   -9.8000  -139.0333
2  adamantina      BR  -21.6853   -51.0725
3    cidreira      BR  -30.1811   -50.2056
4    maragogi      BR   -9.0122   -35.2225
5   caravelas      BR  -17.7125   -39.2481
6       mogok      MM   22.9167    96.5000
7       mecca      SA   21.4267    39.8261
8     el alto      PE   -4.2714   -81.2147

In [155]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
radius = 5000

params = {
    "radius": radius,
    "type": "lodging",
     "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    
    city_name = row['City']
    lat = row['Latitude']
    lng = row['Longitude']
    coord = f"{lat},{lng}"
    params['location'] = coord 
   
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel to {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        print(response['results'][0]['name'])

    except (KeyError, IndexError):
        hotel_df.loc[index, 'Hotel name'] = ''
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: iquitos.
Closest hotel to iquitos is Casa Morey Hotel & Restaurant.
Casa Morey Hotel & Restaurant
------------
Retrieving Results for Index 1: atuona.
Closest hotel to atuona is Villa Enata.
Villa Enata
------------
Retrieving Results for Index 2: adamantina.
Closest hotel to adamantina is Abaporu Hotéis.
Abaporu Hotéis
------------
Retrieving Results for Index 3: cidreira.
Closest hotel to cidreira is Hotel Castelo.
Hotel Castelo
------------
Retrieving Results for Index 4: maragogi.
Closest hotel to maragogi is Salinas do Maragogi All Inclusive Resort.
Salinas do Maragogi All Inclusive Resort
------------
Retrieving Results for Index 5: caravelas.
Closest hotel to caravelas is Pousada dos Navegantes.
Pousada dos Navegantes
------------
Retrieving Results for Index 6: mogok.
Closest hotel to mogok is MOGOK HILL HOTEL.
MOGOK HILL HOTEL
------------
Retrieving Results for Index 7: mecca.
Closest hotel to mecca is Makkah Clock Royal Tower, A Fairmont Hotel.
Makkah Clock Royal Tower, A Fairmont Hotel
------------
Retrieving Results for Index 8: el alto.
Closest hotel to el alto is Black Marlin Restaurant & Hospedaje.
Black Marlin Restaurant & Hospedaje
------------

In [156]:
hotel_df

,City,Country,Latitude,Longitude,Hotel Name
0,iquitos,PE,-3.7481,-73.2472,Casa Morey Hotel & Restaurant
1,atuona,PF,-9.8000,-139.0333,Villa Enata
2,adamantina,BR,-21.6853,-51.0725,Abaporu Hotéis
3,cidreira,BR,-30.1811,-50.2056,Hotel Castelo
4,maragogi,BR,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
5,caravelas,BR,-17.7125,-39.2481,Pousada dos Navegantes
6,mogok,MM,22.9167,96.5000,MOGOK HILL HOTEL
7,mecca,SA,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
8,el alto,PE,-4.2714,-81.2147,Black Marlin Restaurant & Hospedaje

In [157]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [158]:
# Add marker layer ontop of heat map
fig = gmaps.figure()
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [159]:
#Plot the hotels on top of the humidity heatmap with each pin containing the Hotel Name,City and Country
fig = gmaps.figure()

fig.add_layer(heatmap_layer)
fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))